<h2 class="inline-block u-no-margin--bottom me-1">{{common.contributors}}</h2>
<div class="p-logo-section mt-2">
    <div class="p-logo-section__items" id="contributors">
        {{#each data.contributors}}
        <a
            class="p-logo-section__item p-tooltip--btm-center contributor-icon"
            aria-describedby="contributor-tooltip-{{id}}"
            href="{{html_url}}"
            target="_blank"
        >
            <span class="p-tooltip__message" role="tooltip" id="contributor-tooltip-{{id}}">{{login}}</span>
            <img class="contributor-icon" src="{{avatar_url}}" alt="{{login}}" />
        </a>
        {{/each}}
    </div>
</div>
