{{#> page
title="vrc-get cli"
icon=""
with="social"
}}

{{#*inline "social"}}
<meta property="og:title" content="vrc-get - fast open-source VPM" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://vrc-get.anatawa12.com/{{locale.code}}/cli" />
<meta property="og:site_name" content="ALCOM" />
<meta property="og:description" content="Download page of ALCOM" />
{{/inline}}

{{#*inline "content"}}
<div class="p-media-object--large">
    <img src="/resources/vrc-get.svg" class="p-media-object__image" alt="">
    <div class="p-media-object__details">
        <h1 class="p-media-object__title">vrc-get</h1>
        <p class="p-media-object__content">{{cli.hero}}</p>
        <ul class="p-media-object__meta-list">
        </ul>
    </div>
</div>

<div>
    <!--
    TODO: Docs page
    <a href="/{{locale.code}}/cli/docs" class="p-button has-icon">
        <i class="p-icon ri-book-open-line"></i>
        <span>{{common.documentation}}</span>
    </a>
    -->

    <a href="/{{locale.code}}/cli/releases" class="p-button has-icon">
        <i class="p-icon ri-history-line"></i>
        <span>{{common.allVersions}}</span>
    </a>

    <a href="https://github.com/vrc-get/vrc-get" class="p-button has-icon">
        <i class="p-icon ri-github-line"></i>
        <span>{{common.sourceCode}}</span>
    </a>
</div>

<!--
    TODO: Put content here
-->

{{> contributors}}
{{/inline}}

{{/page}}