{{#> page
title="vrc-get"
icon=""
with=""
}}

{{#*inline "content"}}
<div class="p-card u-no-padding">
    <div class="p-card__inner">
        <div class="p-media-object--large u-no-margin--bottom">
            <img src="/resources/alcom.svg" class="p-media-object__image" alt="">
            <div class="p-media-object__details">
                <h1 class="p-media-object__title">ALCOM</h1>
                <p class="p-media-object__content">{{home.alcomDescription}}</p>
                <ul class="p-media-object__meta-list">
                </ul>
            </div>
        </div>
    </div>
    <hr class="u-no-margin--bottom">
    <div class="p-card__inner">
        <a href="{{localizeLink '/alcom'}}" class="p-button has-icon u-no-margin--bottom">
            <i class="p-icon--external-link"></i>
            <span>{{home.productPage}}</span>
        </a>
    </div>
</div>

<div class="p-card u-no-padding">
    <div class="p-card__inner">
        <div class="p-media-object--large u-no-margin--bottom">
            <img src="/resources/vrc-get.svg" class="p-media-object__image" alt="">
            <div class="p-media-object__details">
                <h1 class="p-media-object__title">VRC-GET</h1>
                <p class="p-media-object__content">{{home.cliDescription}}</p>
                <ul class="p-media-object__meta-list">
                </ul>
            </div>
        </div>
    </div>
    <hr class="u-no-margin--bottom">
    <div class="p-card__inner">
        <a href="{{localizeLink '/cli'}}" class="p-button has-icon u-no-margin--bottom">
            <i class="p-icon--external-link"></i>
            <span>{{home.productPage}}</span>
        </a>
        <a href="{{localizeLink '/cli/docs'}}" class="p-button has-icon u-no-margin--bottom">
            <i class="p-icon--external-link"></i>
            <span>{{common.documentation}}</span>
        </a>
    </div>
</div>
{{/inline}}

{{/page}}